#head-line {
  margin-top: 10px;
}

#subproject-logo {
  width: 40%;
  margin-bottom: 20px;
}

#sync-error, #sync-success {
  display: none;
}

[data-sync-state=syncing] #sync-success {
  display: block;
}

[data-sync-state=error] #sync-error {
  display: block;
}
